In [75]:
#1
def fill_age(value):
    if len(value) == 0: 
        return -1
    return float(value)

fill_age('25.5')

25.5

In [76]:
#2
def split_raw_fields(line):
    result = line.split(',')
    result_list = []
    for word in result:
        result_list.append(word.strip())
    return result_list

split_raw_fields('Hi,iam,     Federico ,  Chiari   ,23,23,      23')

['Hi', 'iam', 'Federico', 'Chiari', '23', '23', '23']

In [77]:
#3
def building_record(fields: tuple, header: list):
    res = {}
    for i in range(len(header)):
        res.update({header[i]: fields[i]})
    return res

building_record((1123,'Switzerland',2,3),['Uno','Dos','Tres','Cuatro'])

{'Uno': 1123, 'Dos': 'Switzerland', 'Tres': 2, 'Cuatro': 3}

In [16]:
#4
def extracting_fields(line):
    res = []
    raw_fields = split_raw_fields(line)
    res.append(int(raw_fields[0]))
    res.append(bool(int(raw_fields[1])))
    res.append(int(raw_fields[2]))
    res.append(raw_fields[3])
    res.append(raw_fields[4])
    res.append(fill_age(raw_fields[5]))
    res.append(int(raw_fields[6]))
    res.append(int(raw_fields[7]))
    res.append(raw_fields[8])
    res.append(float(raw_fields[9]))
    res.append(raw_fields[10])
    res.append(raw_fields[11])
    return tuple(res)

extracting_fields("1,0,3,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.25,,S")

(1,
 False,
 3,
 'Mr. Owen Harris',
 'male',
 22.0,
 1,
 0,
 'A/5 21171',
 7.25,
 '',
 'S')

In [79]:
#5
def read_data(file):
    res = []
    files_lines = file.readlines()
    for line in files_lines:
        if files_lines.index(line) == 0:
            header = line
        else:
            res.append(extracting_fields(line))
    list_of_records=[]
    for i in res:
        list_of_records.append(building_record(i,split_raw_fields(header)))
    return list_of_records
    
    
with open('titanic.csv') as fh:
    titanic_data = read_data(fh)
titanic_data[0]

{'PassengerId': 1,
 'Survived': False,
 'Pclass': 3,
 'Name': 'Mr. Owen Harris',
 'Sex': 'male',
 'Age': 22.0,
 'SibSp': 1,
 'Parch': 0,
 'Ticket': 'A/5 21171',
 'Fare': 7.25,
 'Cabin': '',
 'Embarked': 'S'}

In [129]:
def mean_calculator (titanic_records):
    records = titanic_records
    ages = []
    for rec in records:
        #Since in the first 10 records we have 1 unknown value, our ages list is going to be 9 records.
        if len(ages) >= 9:
            break
        if rec['Age'] > -1:
            ages.append(rec['Age'])
    return sum(ages)/9

with open ('titanic.csv') as data:
    data_records = read_data(data)
mean_calculator(data_records)

28.11111111111111

In [82]:
from pathlib import Path

fpath = Path('titanic.csv').absolute()

print(fpath)

C:\Users\chiar\titanic.csv